/* Общие стили страницы */
body {
  width: 412;
  height: 917;
  justify-content: space-between;
  angle: 0 deg;
  opacity: 1;
  padding-top: 40px;
  padding-bottom: 15px;
}

/* Стили для карточки с контентом */
.card {
    background: linear-gradient(180deg, #C4D5ED 0%, #BDCDE7 99.99%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

/* Стили заголовка */
h1 {
    color: #333333;
    margin-bottom: 15px;
}

/* Стили текста */
p {


font-family: Kantumruy Pro;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;

}

/* Стили кнопки */
.btn {
  font-family: Kantumruy Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(90deg, #FF00FF 0%, #00FFFF 100%);
}

/* Эффект при наведении на кнопку */
.btn:hover {
    background-color: #0056b3;
}
